body{
    background-color: black;
}

.navbar {
    font-size: 20px;
}

.navbar img {
    height: 50px;
    width: 50px;
    padding:0;
}  

footer {
    max-width: 100%;
}

i {
    font-size: 30px;
    color: white;
}

.d-block {
    height: 500px;
    width: auto;
}

.carousel {
    margin: 80px 100px;
}

h1 {
    color: white;
    font-size: 25px;
    margin: 5px;
}