<!-- As a note, you can just do ! + Enter to create a Boilerplate, 
Generative AI is not needed for this step -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../resources/css/hobbies.css" />
    <script
      src="https://kit.fontawesome.com/acfc4a221d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="../views/home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/hobbies.html">Hobbies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/projects.html">Projects</a>
            </li>
          </ul>
          <span>
            <img
              src="../resources/img/newLogo.png"
              alt="An image of a cat with a helmet on"
            />
          </span>
        </div>
      </div>
    </nav>
    <h1>My Hobbies</h1>
    <div class="card-group">
      <div class="card">
        <img
          src="../resources/img/Music.jpg"
          class="card-img-top"
          alt="A photo of me in the marching band"
        />
        <div class="card-body">
          <h5 class="card-title">Music</h5>
          <p class="card-text">
            One of my most important hobbies is music, I play Tenor Sax for the
            Golden Buffalo Marching Band and I also listen to lots of music
            frequently. I'm always looking for new sounds and sending
            reccomendations to my friends.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../resources/img/Gaming.JPG"
          class="card-img-top"
          alt="An image of my stuffed horse on my mic"
        />
        <div class="card-body">
          <h5 class="card-title">Video Games</h5>
          <p class="card-text">
            I've been playing video games since I could hold a controller! My
            parents used to play games all the time and I would watch and
            sometimes play along!! I have a lot of passion for games as they're
            a great release for me. And as I've mentioned, I'd like to pursue it
            as a career!
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../resources/img/Friends.jpg"
          class="card-img-top"
          alt="A photo of me and some of my friends"
        />
        <div class="card-body">
          <h5 class="card-title">Spending Time With Friends</h5>
          <p class="card-text">
            My friends are my greatest support system and I love spending time
            with them. It helps me destress and gives me something to do outside
            of video games and school.
          </p>
        </div>
      </div>
    </div>
    <footer class="bg-dark text-center py-3">
      <div class="container">
        <a href="https://github.com/Jarah-Marshall"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
